<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Animals API</title>
</head>
<body>
    <h1>Animals API</h1>
    <a href="https://localhost:5001/api/hamsters">https://localhost:5001/api/hamsters</a><br>
    <a href="https://localhost:5001/api/cats">https://localhost:5001/api/cats</a>
</body>
</html>