<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movies API</title>
</head>
<body>
    <h1>Movies API</h1>
    <a href="https://localhost:5001/api/hamsters">https://localhost:5001/api/hamsters</a><br>
    <a href="https://localhost:5001/api/movies">https://localhost:5001/api/movies</a>
</body>
</html>